@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply bg-white;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  input {
    @apply font-bangers text-cyan-950;
  }

  input,
  textarea,
  select {
    @apply bg-transparent focus:outline-none;
  }
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes scaleIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .fade-in {
    animation: fadeIn 150ms ease-in-out;
  }

  .fade-out {
    animation: fadeOut 3000ms ease-in-out;
  }

  .scale-in {
    animation: scaleIn 150ms ease forwards;
  }
}
